@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  --background: #f4f0e4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", var(--font-geist-sans);
  --font-brand: "Grand Hotel", cursive;
  
  --color-ecruwhite: #f4f0e4;
  
  --color-thunderbird-50: #fef3f2;
  --color-thunderbird-100: #ffe5e1;
  --color-thunderbird-200: #ffd0c9;
  --color-thunderbird-300: #feaea3;
  --color-thunderbird-400: #fb7f6e;
  --color-thunderbird-500: #f35640;
  --color-thunderbird-600: #e03922;
  --color-thunderbird-700: #b42a17;
  --color-thunderbird-800: #9c2818;
  --color-thunderbird-900: #81271b;
  --color-thunderbird-950: #461009;
}

body {
  background: var(--color-ecruwhite);
  color: #1a1a1a;
  font-family: var(--font-sans);
}

.font-brand {
  font-family: var(--font-brand);
}